Options -Indexes

RewriteEngine On

# Redireccionar la raíz del sitio
RewriteRule ^$ login.php [L,QSA]

# Redireccionar URLs amigables
#RewriteRule ^login/?$ login.php [L,QSA]
RewriteRule ^site/home/?$ site/home.php [L,QSA]
